/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*============
font-family: 'Poppins', sans-serif;
=============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*=========================================*/
/*==========Start Header Section==========*/
/*=========================================*/
.mainHeaderArea {}

.logoArea {}

.logoArea .logoLink {
    display: inline-block;
}

.logoArea .logoLink .logoImage {
    height: auto;
    width: 100%;
}

.headerBanar {}

.headerBanar .banarImage {
    width: 100%;
    height: auto;
}

.maniMenuArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menuArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menuArea .menuList {}

.menuArea .menuList .menuLink {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 14px;
    border-radius: 10px;
    background-color: #82bc48;
    margin: 0px 15px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.nav-show {
    display: none;
}

.nav-hide {
    display: block;
}

.menuArea .menuList .menuLink:hover {
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.maniMenuArea {}

.maniMenuArea .logoLink {}

.maniMenuArea .logoLink .responsiveLogo {
    height: auto;
    width: 250px;
}

.maniMenuArea .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    -o-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

.maniMenuArea .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 17px 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.maniMenuArea .menu-icon .navicon {
    background: #97C767;
    display: block;
    height: 3px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 25px;
    z-index: 99
}

.maniMenuArea .menu-icon .navicon:before,
.maniMenuArea .menu-icon .navicon:after {
    background: #97C767;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.maniMenuArea .menu-icon .navicon:before {
    top: 5px;
}

.maniMenuArea .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.maniMenuArea .menu-btn {
    display: none;
}

.maniMenuArea .menu-btn:checked ~ .menu {
    max-height: 270px;
}

/* .maniMenuArea .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.maniMenuArea .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.maniMenuArea .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.maniMenuArea .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.maniMenuArea .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
} */
@media all and (max-width:1300px) {
    .menuArea .menuList .menuLink {
        padding: 14px 10px;
    }

    .maniMenuArea .logoLink .responsiveLogo {
        height: auto;
        width: 200px;
    }
}

@media (min-width: 992px) {
    .maniMenuArea .menu-icon {
        display: none;
    }
}

@media all and (max-width:991px) {
    .menuArea {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .maniMenuArea {
        display: unset;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
    }

    .menuArea {
        display: none;
    }

    .maniMenuArea .menu-btn:checked ~ .menuArea {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        margin-top: 40px;
        background: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        top: -41px;
        padding: 70px 0px 20px;
    }

    .menuArea .menuList {
        margin: 0px 0px;
    }

    .maniMenuArea .logoLink {
        z-index: 9;
        position: relative;
    }

    .menuArea .menuList .menuLink {
        font-size: 19px;
        color: #5C6373;
        font-weight: 500;
        background-color: transparent;
        margin: 0px 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .nav-show {
        display: block;
    }

    .nav-hide {
        display: none;
    }
}

/*=========================================*/
/*==========Start Hero Section==========*/
/*=========================================*/
.mian-header-hero-section {
    background: url(../images/hero-bg.png)no-repeat scroll 0 0 / 100% 100%;
    padding: 20px 0px 180px;
}

.hero-left-area {}

.hero-left-area .hero-text {
    font-size: 51px;
    line-height: 49px;
    font-weight: 500;
    color: #000;
    padding-top: 100px;
}

.hero-left-area .hero-sologan {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #0e1d3c;
    padding: 30px 0px;
}

@media only screen and (max-width:7000px) and (min-width: 1501px) {
    .mian-header-hero-section {
        padding: 20px 0px 380px;
    }

    .service-item {
        height: 310px;
        width: 27%;
        margin: 0px 3%;
        background: #fff;
        -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        margin-top: -160px;
    }

    .service-item .service-icon {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .about-text .about-us-details {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #181818;
    }

    .about-text .about-us-heading {
        font-size: 35px;
        line-height: 20px;
        font-weight: 500;
        color: #0e1d3c;
        padding-bottom: 40px;
    }

    .about-us-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 160px;
    }

    .heading-area .heading-text {
        font-size: 40px;
        line-height: 20px;
        font-weight: 500;
        color: #0e1d3c;
    }

    .ccs-item .css-item-text {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: #282828;
        padding: 22px;
    }

    .service-item .service-details {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: #282828;
    }

    .service-item .service-name {
        font-size: 23px;
        line-height: 20px;
        font-weight: 500;
        color: #282828;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .hero-left-area .hero-text {
        font-size: 43px;
        padding-top: 100px;
    }

    .mian-header-hero-section {
        padding: 20px 0px 100px;
    }
}

@media all and (max-width:768px) {
    .hero-left-area .hero-text {
        font-size: 36px;
        line-height: 39px;
        padding-top: 40px;
    }

    .mian-header-hero-section {
        padding: 20px 0px 110px;
    }

    .hero-left-area .hero-sologan {
        font-size: 15px;
        padding: 17px 0px;
    }
}

@media all and (max-width:512px) {
    .hero-left-area .hero-sologan {
        font-size: 14px;
    }
}

@media all and (max-width:480px) {
    .hero-left-area .hero-text {
        font-size: 30px;
        line-height: 34px;
        padding-top: 20px;
    }

    .mian-header-hero-section {
        padding: 20px 0px 75px;
    }
}

@media all and (max-width:357px) {
    .hero-left-area .hero-text {
        font-size: 27px;
        line-height: 34px;
        padding-top: 20px;
    }

    .mian-header-hero-section {
        padding: 20px 0px 70px;
    }

    .hero-left-area .hero-sologan {
        font-size: 14px;
        padding: 8px 0px;
    }
}

/*=========================================*/
/*==========Start Service Section==========*/
/*=========================================*/
.main-service-section {
    background-image: -webkit-gradient(linear, left top, right top, from(#7EBB48), color-stop(#80BE4A), color-stop(#85C751), color-stop(#89CC55), color-stop(#8ED55B), color-stop(#92DD61), color-stop(#96E365), color-stop(#98E768), color-stop(#9AE96A), color-stop(#9AE96A), to(#9AE96A));
    background-image: -o-linear-gradient(left, #7EBB48, #80BE4A, #85C751, #89CC55, #8ED55B, #92DD61, #96E365, #98E768, #9AE96A, #9AE96A, #9AE96A);
    background-image: linear-gradient(to right, #7EBB48, #80BE4A, #85C751, #89CC55, #8ED55B, #92DD61, #96E365, #98E768, #9AE96A, #9AE96A, #9AE96A);
    padding-bottom: 70px;
}

.service-item {
    height: 270px;
    width: 27%;
    margin: 0px 3%;
    background: #fff;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: -80px;
}

.service-item .service-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.service-item .service-name {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #282828;
    padding-bottom: 20px;
}

.service-item .service-details {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #282828;
}

.discription-area {
    text-align: center;
}

.discription-area .discription-text {
    font-size: 28px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    padding: 40px 0px 30px;
}

.discription-area .discover-button {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color: #011d44;
    padding: 10px 15px;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.discription-area .discover-button:hover {
    background: #011d44;
    color: #fff;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .service-item {
        height: 290px;
        margin-top: -90px;
    }
}

@media only screen and (max-width:991px) and (min-width:768px) {
    .service-item {
        width: 31%;
        margin: 0px 1%;
        margin-top: -46px;
    }

    .service-item .service-name {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .service-item .service-details {
        font-size: 14px;
    }

    .service-item .service-icon {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
}

@media all and (max-width:767px) {
    .service-item {
        width: 100%;
        margin: 0px 0px 35px;
        margin-top: -130px;
        margin-bottom: 190px;
    }

    .main-service-section {
        padding: 70px 0px;
    }

    .res-margin-top {
        text-align: center;
        margin-top: -140px;
    }
}

@media all and (max-width:576px) {
    .main-service-section {
        padding: 70px 30px;
    }

    .discription-area .discription-text {
        font-size: 28px;
        line-height: 32px;
        padding: 40px 0px 21px;
    }
}

@media all and (max-width:440px) {
    .discription-area .discription-text {
        font-size: 23px;
    }
}

@media all and (max-width:380px) {
    .discription-area .discription-text {
        font-size: 23px;
        padding: 20px 0px 20px;
    }

    .discription-area .discover-button {
        font-size: 15px;
        padding: 10px 15px;
    }
}

@media all and (max-width:376px) {
    .discription-area .discription-text {
        font-size: 21px;
    }
}

@media all and (max-width:330px) {
    .service-item {
        height: 290px;
    }
}

/*=========================================*/
/*==========Start About us Section==========*/
/*=========================================*/
.main-about-us-section {
    padding: 70px 0px;
}

.about-us-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px;
}

.about-us-left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.about-text {}

.about-text .about-us-heading {
    font-size: 30px;
    line-height: 20px;
    font-weight: 500;
    color: #0e1d3c;
    padding-bottom: 20px;
}

.about-text .about-us-details {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #181818;
}

.about-text .about-us-link {
    background: #83bb4f;
    padding: 17px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 315px;
    border-radius: 10px;
    margin-top: 35px;
}

.about-text .about-us-link span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
}

.about-text .about-us-link img {
    height: 15px;
    width: 25px;
    margin-left: 10px;
}

.about-us-right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 3%;
}

.about-image .a-image {
    height: auto;
    width: 80%;
}

.mb-none {}

.pc-none {
    display: none;
}

@media only screen and (max-width:991px) and (min-width:768px) {
    .about-text .about-us-details {
        font-size: 14px;
    }
}

@media all and (max-width:767px) {
    .about-us-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .about-us-left {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .about-us-right {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding-left: 0;
    }

    .mb-none {
        display: none;
    }

    .pc-none {
        display: block;
    }

    .margin-bottom {
        margin-bottom: 50px;
    }

    .about-us-item {
        text-align: center;
    }

    .about-text .about-us-link {
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media all and (max-width:576px) {
    .about-image .a-image {
        height: auto;
        width: 95%;
    }

    .about-us-item {
        text-align: center;
        padding: 0px 5%;
    }
}

/*=========================================*/
/*==========Start Why CCS Section==========*/
/*=========================================*/
.why-ccs-platform {
    padding-bottom: 120px;
}

.heading-area {
    text-align: center;
    padding-bottom: 120px;
}

.heading-area .heading-text {
    font-size: 28px;
    line-height: 20px;
    font-weight: 500;
    color: #0e1d3c;
}

.ccs-item {
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 10px #ecf1ff;
    box-shadow: 0px 1px 10px 10px #ecf1ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.ccs-item .css-item-text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #282828;
    padding: 15px;
    text-align: center;
}

@media all and (max-width:576px) {
    .why-ccs-platform {
        padding-bottom: 120px;
        padding: 0px 5% 120px;
    }

    .heading-area {
        text-align: center;
        padding-bottom: 60px;
    }
}

@media all and (max-width:340px) {
    .heading-area .heading-text {
        font-size: 23px;
    }
}

/*=========================================*/
/*==========Start Footer Section==========*/
/*=========================================*/
.main-footer-area {
    background: url(../images/footer-bg.png)no-repeat scroll 0 0 / 100% 100%;
    padding: 40px 0px;
}

.footer-item {
    padding: 30px 0px;
}

.footer-item .footer-logo-link {}

.footer-item .footer-logo-link .footer-logo {
    height: 50px;
    width: 100%;
}

.footer-item .footer-item-heading {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
}

.footer-item ul {}

.footer-item ul li {}

.footer-item ul li .item-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #212b49;
}

.copyright .copyright-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}

@media all and (max-width:767px) {
    .main-footer-area {
        background: #0e1d3c !important;
        padding: 40px 0px;
        text-align: center;
    }
}
